*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}

body{
  height: 100%;
  background-color: #0B181E;
  font-family: 'Poppins', sans-serif;
}
#app{
  height: 80vh;
  
  margin:2rem ;
  display: flex;
  justify-content: center;
}
#nav-bar{
  
  margin: 3rem auto 0  auto;
  position: absolute;
  bottom:0px;
  left:0;
  right:0;
  width: 80%;
  display: flex;
  justify-content: center;
  padding:1em 2rem 1rem 2rem;
  background-color: #77DE82;
  border-radius: 2rem; 

}
#icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.config{
  display: flex;
  flex-direction: row;
  gap:3rem;
  align-items: center;
  text-decoration: none;
}
.bgIconsHover{
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
}
.bgIconsHover i{
  z-index: 1;
  font-size: 2rem;
  color: #0B181E;
}
.bgIconsHover:hover{
  background-color: #aeed9d;
  border-radius: 2rem;
}
#exit{
  margin-left: 1rem
}
#overall{
  margin: 0 auto;
  max-width: 80%;
}
  


@media  screen and (min-width:765px) {
  #app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  #overall{
    max-width: 80rem; 
  }
  .config{
    flex-direction: column;
    gap:6rem;
  }
  #nav-bar{
    bottom: 10rem;
    right: 115rem;
    padding:5em 2rem 1rem 2rem;
    max-width: 8rem;
  
  }
  #exit{
    margin-left: 0;
    margin-top:15rem;
    margin-bottom: 2rem;
  }
  .bgIconsHover i{
    font-size: 3rem; 
  }
}
