*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;

}

body{
  background-color: #0B181E;
  font-family: 'Poppins', sans-serif;
}
#app{
  display: flex;
  height: 90vh;
  margin:3.2rem 0 3.2rem 3.2rem ;
}
#nav-bar{
  display: flex;
  padding:8rem 2rem 4rem 2rem;
  background-color: #77DE82;
  border-radius: 2rem;
}
#icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.config{
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  text-decoration: none;
}
.bgIconsHover{
  position: relative;
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgIconsHover i{
  position: absolute;
  z-index: 1;
  font-size: 3.5rem;
  color: #0B181E;
}
.bgIconsHover:hover{
  background-color: #aeed9d;
  border-radius: 2rem;
}
.exit{
  display: flex;
  text-decoration: none;
}
.exit i{
  font-size: 3.5rem;
}
#overall{
  margin: 1rem 0 1rem 3rem;
  max-width: 80rem;
}
@media screen and (max-width: 767px) {
  #app{
    flex-direction: column;
  }
  #icons{
    flex-direction: row;
  }
  .config{
    flex-direction: row;
  }
  #nav-bar{
    padding:0;
    
  }

}