

#avatar{
  border-radius: 50%;
  width: 8rem;  
}

#profile{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width: 32rem;
}
#profileName,#profileEmail,#profilePassword{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
} 
#profile label{
  margin-top: 2rem;
  color: aliceblue;
  font-size: 1.5rem;
}
#profile input{
  width:100%;
  height: 4rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #202E2F;
  border: none;
  color: aliceblue;
}